*.class
*.log
*.bak

# sbt specific
.cache/
.history/
.lib/
dist/*
target
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea
out

# Eclipse
bin/
.classpath
.project
.settings
.cache-main

#User
/*.vhd
/*.v
*.cf
*.json
*.vcd
!tester/src/test/resources/*.vhd


simWorkspace/
tmp/
obj_dir
.cproject
*.d
*.map
*.asm
*.asc
*.rpt
*.blif
*.bin
*.hex
*.o
*.elf
*Old

# icecube2
.DS_Store
.vdbs
*.log
*.log.bak
*.tcl
*.twr
*_prim.v
*.arearep
xxx_lse_cp_file_list
xxx_lse_sign_file
*.prd
*.rpt
*_Implmnt
!*_bitmap.bin