[submodule "ext/SpinalHDL"]
	path = ext/SpinalHDL
	url = https://github.com/SpinalHDL/SpinalHDL.git
[submodule "ext/VexRiscv"]
	path = ext/VexRiscv
	url = https://github.com/SpinalHDL/VexRiscv.git
[submodule "ext/sd_device"]
	path = ext/sd_device
	url = https://github.com/fusesoc/sd_device.git
