set_io clk B2
set_io resetN A7

set_io -nowarn system_usbOff_usbPu A3

set_io system_uartA_uart_txd A6
set_io system_uartA_uart_rxd G1

set_io system_gpioA_gpio_0 B3

set_io system_cpu_tms J2
set_io system_cpu_tdi E8
set_io system_cpu_tdo J9
set_io system_cpu_tck G9

# Left side of board
set_io system_lcd_ili9341_dout[0]  A2    # pin 1
set_io system_lcd_ili9341_dout[1] A1    # pin 2
set_io system_lcd_ili9341_dout[2] B1      # pin 3
set_io system_lcd_ili9341_dout[3] C2      # pin 4
set_io system_lcd_ili9341_dout[4] C1      # pin 5
set_io system_lcd_ili9341_dout[5] D2      # pin 6
set_io system_lcd_ili9341_dout[6] D1      # pin 7
set_io system_lcd_ili9341_dout[7] E2      # pin 8
set_io system_lcd_ili9341_nReset E1      # pin 9
set_io system_lcd_ili9341_cmdData  H1 # pin 11
set_io system_lcd_ili9341_writeEdge  J1 # pin 12
set_io system_lcd_ili9341_backLight H2 # pin 13

# XIP

set_io system_spiA_spi_sclk G7
set_io -nowarn system_spiA_spi_ss_0 F7
set_io -nowarn system_spiA_spi_ss F7
set_io -nowarn system_spiA_spi_data_0 G6
set_io -nowarn system_spiA_spi_mosi G6
set_io -nowarn system_spiA_spi_data_1 H7
set_io -nowarn system_spiA_spi_miso H7

