## iCE40-hx8k breakout board
# src/openocd -f tcl/interface/ftdi/c232hm_ddhsl_0.cfg -c 'set CPU0_YAML ../SaxonSoc.git/cpu0.yaml' -f tcl/target/saxon_xip.cfg

set_io clk_12M  35

set_io system_cpu_tck 4
set_io system_cpu_tdi 2
set_io system_cpu_tdo 47
set_io system_cpu_tms 45

set_io system_uartA_uart_txd 9
set_io system_uartA_uart_rxd 6

set_io system_gpioA_gpio_0 27
set_io system_gpioA_gpio_1 25
set_io system_gpioA_gpio_2 21
set_io system_gpioA_gpio_3 23


#XIP
set_io system_spiA_spi_ss_0 16 #ss
set_io system_spiA_spi_sclk 15 #sclk
set_io system_spiA_spi_data_0 14 #mosi
set_io system_spiA_spi_data_1 17 #miso
