CONFIG_SECTION_MISMATCH_WARN_ONLY=n

# Architecture
CONFIG_ARCH_DEFCONFIG="arch/riscv/configs/defconfig"
CONFIG_ARCH_RV32I=y
CONFIG_RISCV_ISA_M=y
CONFIG_RISCV_ISA_A=y
CONFIG_RISCV_ISA_C=n
CONFIG_SIFIVE_PLIC=y
CONFIG_FPU=n
CONFIG_SMP=y

CONFIG_HVC_RISCV_SBI=y

CONFIG_BLK_DEV_INITRD=y
CONFIG_INITRAMFS_SOURCE=""
CONFIG_RD_GZIP=y
CONFIG_RD_BZIP2=y
CONFIG_RD_LZMA=y
CONFIG_RD_XZ=y
CONFIG_RD_LZO=y
CONFIG_RD_LZ4=y

CONFIG_SERIAL_EARLYCON_RISCV_SBI=y
CONFIG_PRINTK_TIME=y
CONFIG_TMPFS=y

# Serial
CONFIG_SERIAL_SPINAL_LIB=y
CONFIG_SERIAL_SPINAL_LIB_CONSOLE=y

# SPI
CONFIG_SPI=y
CONFIG_SPI_MASTER=y
CONFIG_EXPERIMENTAL=y
CONFIG_SPI_SPIDEV=y
CONFIG_SPI_SPINAL_LIB=y
CONFIG_SPI_ALTERA=y
CONFIG_SPI_LOOPBACK_TEST=y
CONFIG_MTD=y
CONFIG_MTD_SPI_NOR=y
CONFIG_MTD_M25P80=y

# I2C
CONFIG_I2C=y
CONFIG_I2C_CHARDEV=y
CONFIG_I2C_GPIO=y

# Filesystem
CONFIG_MMC=y
CONFIG_MMC_SPI=y
CONFIG_EXT2_FS=y

# FAT32
CONFIG_FAT_FS=y
CONFIG_MSDOS_FS=y
CONFIG_MSDOS_PARTITION=y
CONFIG_VFAT_FS=y
CONFIG_FAT_DEFAULT_CODEPAGE=437
CONFIG_FAT_DEFAULT_IOCHARSET="iso8859-1"
CONFIG_NCPFS_SMALLDOS=y
CONFIG_NLS=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ASCII=y
CONFIG_NLS_ISO8859_1=y

# GPIO
CONFIG_GPIOLIB=y
CONFIG_GPIO_SYSFS=y
CONFIG_OF_GPIO=y
CONFIG_GPIO_SPINAL_LIB=y

# LEDS
CONFIG_NEW_LEDS=y
CONFIG_LEDS_CLASS=y
CONFIG_LEDS_GPIO=y
CONFIG_LEDS_PWM=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_LEDS_TRIGGER_GPIO=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_LEDS_TRIGGER_BACKLIGHT=y
CONFIG_LEDS_TRIGGER_CPU=y
CONFIG_LEDS_TRIGGER_DEFAULT_ON=y

# NET
CONFIG_NET=y
CONFIG_PACKET=y
CONFIG_UNIX=y
CONFIG_INET=y
CONFIG_NETDEVICES=y
CONFIG_PACKET_DIAG=y
CONFIG_NET_PACKET_ENGINE=y

# MAC
CONFIG_NET_VENDOR_SPINAL=y
CONFIG_SPINAL_LIB_MAC=y

# FRAME BUFFER
CONFIG_FB=y
CONFIG_FB_SIMPLE=y
CONFIG_FRAMEBUFFER_CONSOLE=y

# DMA
CONFIG_DMADEVICES=y
CONFIG_SPINAL_LIB_DMASG=y

# SOUND
CONFIG_SOUND=y
CONFIG_SND=y
CONFIG_SND_SPINAL_LIB_AUDIO_OUT=y
CONFIG_SND_MIXER_OSS=y
CONFIG_SND_PCM_OSS=y

