## iCE40-hx8k breakout board

set_io ICE_CLK  J3

set_io ICE_TCK H16
set_io ICE_TDI G15
set_io ICE_TDO G16
set_io ICE_TMS F15

set_io ICE_TXD B12
set_io ICE_RXD B10

set_io LED[0] B5
set_io LED[1] B4
set_io LED[2] A2
set_io LED[3] A1
set_io LED[4] C5
set_io LED[5] C4
set_io LED[6] B3
set_io LED[7] C3

#XIP
set_io ICE_MISO P12
set_io ICE_MOSI P11
set_io ICE_SCK R11
set_io ICE_SS R12
