set_io CLOCK_16 B2
set_io -nowarn GRESET B1

set_io -nowarn system_usbOff_usbPu A3
set_io system_uartA_uart_txd A2
set_io system_uartA_uart_rxd A1

set_io system_cpu_tms H9
set_io system_cpu_tdi D9
set_io system_cpu_tdo D8
set_io system_cpu_tck C9

set_io system_gpioA_gpio_0 H2
set_io system_gpioA_gpio_1 J1
set_io system_gpioA_gpio_2 H1
set_io system_gpioA_gpio_3 G2
set_io system_gpioA_gpio_4 E1
set_io system_gpioA_gpio_5 E2
set_io system_gpioA_gpio_6 D1
set_io system_gpioA_gpio_7 D2

# XIP

set_io system_spiA_spi_sclk G7
set_io -nowarn system_spiA_spi_ss_0 F7
set_io -nowarn system_spiA_spi_ss F7
set_io -nowarn system_spiA_spi_data_0 G6
set_io -nowarn system_spiA_spi_mosi G6
set_io -nowarn system_spiA_spi_data_1 H7
set_io -nowarn system_spiA_spi_miso H7

# External pins for diagnostics
#set_io system_spiA_spi_sclk A9
#set_io -nowarn system_spiA_spi_ss_0 B8
#set_io -nowarn system_spiA_spi_ss B8
#set_io -nowarn system_spiA_spi_mosi A8
#set_io -nowarn system_spiA_spi_data_0 A8
#set_io -nowarn system_spiA_spi_miso B7
#set_io -nowarn system_spiA_spi_data_1 B7

