CONFIG_RISCV=y
CONFIG_SMP=y
CONFIG_NR_CPUS=4
CONFIG_SBI_V01=y
CONFIG_SYS_TEXT_BASE=0x80F00000
CONFIG_NR_DRAM_BANKS=1
CONFIG_SPL=n
CONFIG_DEBUG_UART_BASE=0x10010000
CONFIG_DEBUG_UART_CLOCK=100000000
CONFIG_DEBUG_UART=y
CONFIG_TARGET_VEXRISCV_SAXON=y
CONFIG_SPL_TEXT_BASE=0x81F00000
CONFIG_RISCV_SMODE=y
CONFIG_SPL_RISCV_SMODE=y
# CONFIG_RISCV_ISA_C is not set
CONFIG_EXTRA_ENV_SETTINGS="miaou"
CONFIG_DISTRO_DEFAULTS=y
CONFIG_BOOTDELAY=2
CONFIG_BOOTCOMMAND="load mmc 0:1 0x80000000 uImage;load mmc 0:1 0x80FF0000 dtb;bootm 0x80000000 - 0x80FF0000"
#CONFIG_BOOTDELAY=0
#CONFIG_BOOTCOMMAND="bootm 0x80000000 0x80FFFFC0 0x80FF0000"
CONFIG_SPL_OS_BOOT=y
CONFIG_SPL_PAYLOAD=""
CONFIG_SPL_RAM_SUPPORT=y
CONFIG_SPL_RAM_DEVICE=y
CONFIG_CMD_MMC=y
CONFIG_CMD_SPI=y
CONFIG_CMD_TIMER=y
CONFIG_PARTITIONS=y
CONFIG_BLK=y
CONFIG_OF_EMBED=y
CONFIG_DEFAULT_DEVICE_TREE="saxon_bsp"
CONFIG_MMC=y
CONFIG_MMC_BROKEN_CD=y
CONFIG_MMC_SPI=y
CONFIG_MMC_SPI_CRC_ON=y
CONFIG_RISCV_SBI_SERIAL=y
CONFIG_DEBUG_UART_RISCV_SBI=y
CONFIG_SPI=y
CONFIG_VEXRISCV_SPI=y
CONFIG_RISCV_TIMER=y
CONFIG_MMC_TRACE=n
CONFIG_FS_EXT4=y
CONFIG_SYS_MALLOC_F_LEN=0x8000

CONFIG_CMD_EXT4_WRITE=y
CONFIG_CMD_FAT=y
CONFIG_FAT_WRITE=y

# ENV in SDCARD
CONFIG_ENV_IS_IN_FAT=y
CONFIG_ENV_FAT_INTERFACE="mmc"
CONFIG_ENV_FAT_DEVICE_AND_PART="0:1"
CONFIG_ENV_FAT_FILE="/uboot.env"
