set_io clk_25M 60

set_io system_uartA_uart_txd 34
set_io system_uartA_uart_rxd 33

set_io system_cpu_tms 38
set_io system_cpu_tdi 37
set_io system_cpu_tdo 32
set_io system_cpu_tck 31

set_io system_gpioA_gpio_0 16
set_io system_gpioA_gpio_1 15
set_io system_gpioA_gpio_2 10
set_io system_gpioA_gpio_3 9
set_io system_gpioA_gpio_4 49
set_io system_gpioA_gpio_5 52
set_io system_gpioA_gpio_6 55
set_io system_gpioA_gpio_7 56

# SRAM
set_io system_sdramA_sdram_ADDR[0] 117
set_io system_sdramA_sdram_ADDR[1] 119
set_io system_sdramA_sdram_ADDR[2] 121
set_io system_sdramA_sdram_ADDR[3] 124
set_io system_sdramA_sdram_ADDR[4] 130
set_io system_sdramA_sdram_ADDR[5] 125
set_io system_sdramA_sdram_ADDR[6] 122
set_io system_sdramA_sdram_ADDR[7] 120
set_io system_sdramA_sdram_ADDR[8] 118
set_io system_sdramA_sdram_ADDR[9] 116
set_io system_sdramA_sdram_ADDR[10] 115

set_io system_sdramA_sdram_BA 114

set_io system_sdramA_sdram_DQ_0 78
set_io system_sdramA_sdram_DQ_1 79
set_io system_sdramA_sdram_DQ_2 80
set_io system_sdramA_sdram_DQ_3 81
set_io system_sdramA_sdram_DQ_4 82
set_io system_sdramA_sdram_DQ_5 83
set_io system_sdramA_sdram_DQ_6 84
set_io system_sdramA_sdram_DQ_7 85
set_io system_sdramA_sdram_DQ_8 87
set_io system_sdramA_sdram_DQ_9 88
set_io system_sdramA_sdram_DQ_10 90
set_io system_sdramA_sdram_DQ_11 91
set_io system_sdramA_sdram_DQ_12 95
set_io system_sdramA_sdram_DQ_13 96
set_io system_sdramA_sdram_DQ_14 97
set_io system_sdramA_sdram_DQ_15 98

set_io system_sdramA_sdram_DQM[1] 94
set_io system_sdramA_sdram_DQM[0] 93
set_io system_sdramA_sdram_WEn 107
set_io system_sdramA_sdram_CASn 110
set_io system_sdramA_sdram_RASn 112
set_io system_sdramA_sdram_CSn 113
set_io system_sdramA_sdram_CKE 128

set_io sdramClk 129


