set  _ENDIAN little
set _TAP_TYPE 1234

if { [info exists CPUTAPID] } {
   set _CPUTAPID $CPUTAPID
} else {
  # set useful default
   set _CPUTAPID 0x00220a79
}

adapter_khz 800
adapter_nsrst_delay 260
jtag_ntrst_delay 250

set _CHIPNAME fpga_spinal
jtag newtap $_CHIPNAME bridge -expected-id $_CPUTAPID -irlen 4 -ircapture 0x5 -irmask 0xF

target create $_CHIPNAME.cpu0 vexriscv -endian $_ENDIAN -chain-position $_CHIPNAME.bridge -coreid 0 -dbgbase 0x10B80000
vexriscv readWaitCycles 12
vexriscv cpuConfigFile $CPU0_YAML
vexriscv jtagMapping 8 8 0 1 2 2


poll_period 50

init
soft_reset_halt
halt
sleep 1000

mww 0xF9000000 0x00000000
mdw 0xF9000000 16
mww 0xF9000000 0x12345678
mdw 0xF9000000 16

mww 0x00001000 0x00000000
mdw 0x00001000 16
mww 0x00001000 0x12345678
mdw 0x00001000 16
