work/
iseconfig/
tmp/
_xmsgs/
_ngo/
doc/
example_design/
implement/
simulation/
xlnx_auto_0_xdb/
*.log
*.tcl
*.txt
*.gise
*.xise
*.cgc
*.cgp
*.ncf
*.asy
*.sym
*.veo
*.vho
*.html
*.xml
*.xsl
*.svf
*.xsvf
*.xwbt
*.cfi
*.prm

local/
target/

